* {
  margin: 0;
  padding: 0;
}

// Font sizes
@base-font-size: 1rem;

// Line height
@base-line-height: 1.5;

// Breakpoints
@bp-small: 20em; // 320px
@bp-medium: 48em; // 768px
@bp-xlarge: 120em; // 1920px

// Media queries
@mq-medium: (min-width: @{bp-medium});
@mq-xlarge: (min-width: @{bp-xlarge});

// Colors
@header-grey: #303030;
