* {
  margin: 0;
  padding: 0;
}

// Font sizes
@base-font-size: 1rem;

// Line height
@base-line-height: 1.5;

// Breakpoints
@bp-small: 20em;
@bp-medium: 48em;

// Media queries
@mq-medium: (min-width: @{bp-medium});
