.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: @green;
  font-size: @12px;
  letter-spacing: 1px;
  color: @white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

@media screen and @mq-medium {
  .link {
    &_list {
      width: 419px;
      margin: 0 auto;
    }
  }
}

@media screen and @mq-large {
  .link {
    display: none;

    &_list {
      width: 145px;
    }
  }
}
